.entry{
	border:2 px solid red;
	position: relative;
	top:10px;
	left:40px;
}

.back{

	background-image: url("../images/3dr.jpg");
	min-width: 100%;
	min-height: 100%;
}
.style{
	font-size: 40px !important; 
	color: white;
	font-weight: bold;
	text-align: center;
	padding: 10px;
	margin: 10px;
}
.h2style{
	font-size: 26px;
	color: white;
	text-align: center;
}

.welcome{
	font-size: 66px ;
	color: red ;
	font-weight: bold ;
	text-align: center ;
	background-color: white ;
	position: relative;
	top:700px;
	left:500px;

}

.information{

	background-image: url("../images/01.jpg");
	position:relative;
	top: 20px;
	left:50px;
	height: 500px;
	width: 1900px;
	
}

.input{

	font-size: 20px;
	color:white;
	margin:10px;
	text-shadow: black 2px 2px;
}

label{
	padding: 10px 50px 5px 20px;
	font-size: 30px !important;
	position: fixed;
}

input{
	padding: 10px 50px 5px 20px;
	margin:10px;	

}
#university{
	position: fixed;
	right:500px;
	top:170px;
}
#luniversity{
	position: fixed;
	right:1100px;
	top:170px;
}
#major{
	position: fixed;
	right:500px;
	top:217px;

}
#lmajor{
	position: fixed;
	right:1100px;
	top:217px;

}
#state{
	position: fixed;
	right:500px;
	top:264px;
}
#lstate{
	position: fixed;
	right:1100px;
	top:264px;
}

#submit{
	position: fixed;
	right:500px;
	top:370px;
	color:black;
	text-shadow: 2px 2px red;
	font-size: 30px;
	text-align: center;
	padding: 10px;

}
.footer{
	height:40px;
	position: fixed;
	bottom: 0px;
	font-size: 30px;
	color: white;
	text-shadow: red 2px 2px;
	background-color: white;
	padding: 5px;
	margin-top:20px;
	width: 100%;
}

.banner{
	float:left;
	width:275px;
	height:550px;
	margin:0 40px 0 40px;
	
}

